export("+.mopt_config")
export(algo.bgp)
export(algo.mh)
export(algo.wl)
export(compute.slices)
export(compute.slices2)
export(computeInitialCandidates)
export(datamoments)
export(evaluateParameters)
export(mopt_config)
export(objfc.multipic)
export(objfc.norm2)
export(objfc.norm2.custom)
export(plot.mopt_config)
export(plot.slices)
export(predict.mopt_config)
export(prepare.mopt_config)
export(rollcall)
export(run.simplex)
export(runMOpt)
export(samplep)
export(shockallp)
export(shockp)
import(MASS)
import(data.table)
import(digest)
import(locfit)
